<div class=" ">
<h1 class="text-4xl font-extrabold text-gray-800 ">Live Cricket Score</h1>
<a href="http://localhost:4200/live" class="rounded-lg">
    <button class=" rounded-lg hover:font-bold  bg-green-500 text-white py-2 px-4 hover:bg-pink-300 hover:scale-100 transition-all cu">
      Refresh
    </button>
  </a>
  
<div class=" place-items-stretch card-container flex-wrap flex-col md:flex-row flex">
@for (match of liveMatches; track $index){
<div class="p-2 md:w-[25%] w-full">
    <app-match-card [match]="match">
    </app-match-card>
</div>
}
@empty {
There is No Match
}
</div>
</div>