<header class="bg-blue-900 text-white p-4">
  <div class="max-w-screen-xl mx-auto flex justify-between items-center">

    <!-- Brand Name -->
    <div class="text-2xl font-semibold">
      Crick Informer
    </div>

    <!-- Navigation Menu -->
    <nav class="space-x-6">
      <a [routerLink]="'/home'" href="#" class="hover:text-blue-200 transition-colors">Home</a>
      <a [routerLink]="'/live'" href="#" class="hover:text-blue-200 transition-colors">Live</a>
      <a [routerLink]="'/history'" href="#" class="hover:text-blue-200 transition-colors">History</a>
      <a [routerLink]="'/point-table'" href="#" class="hover:text-blue-200 transition-colors">Point Table</a>
    </nav>
  </div>
</header>
<div class="px-28 py-8">
<router-outlet></router-outlet>
</div>
